.wrapper{
    position: fixed;
    top: rem(0px);
    right: rem(0px);
    display: flex;
    justify-content: flex-end;
    margin: rem(15px);
    z-index: 1;
}
.icon {
    width: rem(22px);
    height: rem(22px);
  }
  
  .dark {
    @mixin dark {
      display: none;
    }
  
    @mixin light {
      display: block;
    }
  }
  
  .light {
    @mixin light {
      display: none;
    }
  
    @mixin dark {
      display: block;
    }
  }